<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to lihy's Home Page</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css">
    <link href="/static/css/styles.css?v=1.6" rel="stylesheet">
    <link href="/static/css/queries.css?v=1.6" rel="stylesheet">
    <link href="/static/css/jquery.fancybox.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
<body>

      <section class="navigation">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
              <nav class="pull">
                <ul class="top-nav">
                  <li><a href="#getstarted">Get Started <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                  <li><a href="#media">Media <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                  <li><a href="#features">Features <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                  <li class="nav-last"><a href="#design">Design <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <section class="hero" id="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-right">
              <a href="#"><i class="fa fa-navicon fa-2x nav_slide_button"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="animated bounceInDown">Hello Everyone...</h1>
              <p class="animated fadeInUpDelay">Welcome to my home page! I feel very honored to see you visiting lihy's home page.</p>
			  <p class="animated fadeInUpDelay">Website is constantly perfected.To be expected...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-5 text-center">
              <a href="http://player.vimeo.com/video/87701971?title=0&amp;byline=0&amp;portrait=0&amp;color=1883ad&amp;autoplay=1" class="hero-play-btn various fancybox.iframe">Play Button</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <a href="" class="get-started-btn">Get Started</a>
            </div>
          </div>
        </div>
      </section>
      <section class="download-now" id="getstarted">
        <div class="container">
          <div class="row">
            <div class="col-md-8 wp1">
              <h1>
              "Bibi World"! A dictionary integrated social elements.
              </h1>
              <p>This dictionary is integrated social elements,which are rarely seen in famous app of dictionary.</p>
              <p>It is developed by me and my partners.You can download and use it soon.To be expected!</p>
              <a href="#" class="download-btn">Download Now</a>
            </div>
          </div>
        </div>
      </section>
      <section class="testimonials" id="media">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div id="firstSlider">
                <ul class="slides">
                  <li>
                    <div class="avatar"><img src="/static/img/av-blaz.png" alt="Blaz Robar"></div>
                    <h1>I am expecting this app.</h1>
                  </li>
                  <li>
                    <div class="avatar"><img src="/static/img/av-pete.png" alt="Pete Finlan"></div>
                    <h1>I am expecting it,too.</h1>
                  </li>
                  <li>
                    <div class="avatar"><img src="/static/img/av-doge.png" alt="Doge Finbar"></div>
                    <h1>I am also expecting it.</h1>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="features" id="features">
        <div class="container">
          <div class="row">
            <div class="col-md-6 features-leftcol wp2">
              <h1>Vacancy temporarily 1</h1>
              <p class="margin-bottom">developing...</p>
              <h1>Vacancy temporarily 2</h1>
              <p>developing...</p>
            </div>
            <div class="col-md-6 features-rightcol wp3">
              <h1>Vacancy temporarily 3</h1>
              <p class="margin-bottom">developing...</p>
              <h1>Vacancy temporarily 4</h1>
              <p>developing....</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <a href="#" class="try-btn">Try Demo</a>
            </div>
          </div>
        </div>
      </section>
      <div class="copyrights">Designed and learned from web<a href="http://www.lihy.win/" >我的主页主页</a></div>
      <section class="design" id="design">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="secondSlider">
                <ul class="slides">
                  <li>
                    <div class="col-md-4">
                      <div class="flat-box">
                        <div class="colourway colour1"></div>
                        <p class="title">title of picture1</p>
                        <p class="feature-text">text of picture1</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="flat-box">
                        <div class="colourway colour2"></div>
                        <p class="title">title of picture2</p>
                        <p class="feature-text">text of picture2</p>
                      </div>
                    </div>
                    <div class="col-md-4 design-content">
                      <h1>title1</h1>
                      <p>text of title1</p>
                    </div>
                  </li>
                  <li>
                    <div class="col-md-4">
                      <div class="flat-box">
                        <div class="colourway colour3"></div>
                        <p class="title">title of picture3</p>
                        <p class="feature-text">text of picture3</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="flat-box">
                        <div class="colourway colour4"></div>
                        <p class="title">title of picture4</p>
                        <p class="feature-text">text of picture4</p>
                      </div>
                    </div>
                    <div class="col-md-4 design-content">
                      <h1>title2</h1>
                      <p>text of title2</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-1 col-md-offset-11 text-right controls">
                <a href="prev" class="prev"><i class="fa fa-angle-left fa-3x"></i></a>
                <a href="next" class="next"><i class="fa fa-angle-right fa-3x"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p>hahahahahaha</p>
            </div>
            <div class="col-md-3">
              <p>hehehehehehe</p>
            </div>
            <div class="col-md-2 col-md-offset-3">
              <ul class="footer-nav">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option3</a></li>
                <li><a href="#">option4</a></li>
                <li><a href="#">option5</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <a href="#" class="badge-btn">justAButton</a>
              <p class="footer-credit">Home<a href="http://www.lihy.win/" target="_blank" title="HomeLink">主页</a> - Designed by  <a href="http://www.lihy.win/" title="Home3" target="_blank">我</a></p>
            </div>
          </div>
        </div>
      </footer>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="/static/js/jquery.fancybox.pack.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/scripts.js?v=1.7"></script>
      <script src="/static/js/jquery.flexslider.js"></script>
      <script src="/static/js/jquery.smooth-scroll.js"></script>
      <script src="/static/js/modernizr.js"></script>
      <script src="/static/js/waypoints.min.js"></script>
    </body>
  </html>